*.chw
/software/Android Reverse/jeb/errorlogs
/software/Common Software/Pure Codec/x64/Playlist
/software/Download Tools/DownKyi/Aria
/software/Download Tools/DownKyi/Bilibili
/software/Download Tools/DownKyi/Config
/software/Download Tools/DownKyi/Logs
/software/Download Tools/DownKyi/Media
/software/Download Tools/DownKyi/Storage
