*.chw
/software/Android Reverse/jeb/errorlogs
/software/Common Software/Pure Codec/x64/Playlist
/software/Download Tools/DownKyi/Aria
/software/Download Tools/DownKyi/Bilibili
/software/Download Tools/DownKyi/Config
/software/Download Tools/DownKyi/Logs
/software/Download Tools/DownKyi/Media
/software/Download Tools/DownKyi/Storage

/software/Android Reverse/jadx/lib/jadx-gui-1.5.1-all.jar
/software/Common Software/zyplayer/zyfun.exe
/software/Common Software/zyplayer/resources/app.asar
/software/Download Tools/HitomiDownloader/HitomiDownloader.exe
/software/Proxy Software/Clash.for.Windows/Clash for Windows.exe
/software/Proxy Software/mihomo-party/Mihomo Party.exe
/software/Proxy Software/FastGithub/logs
/software/Proxy Software/mihomo-party/data/logs
