<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FuZhou.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <applicationSettings>
    <FuZhou.Properties.Settings>
      <setting name="Company" serializeAs="String">
        <value>Easeware</value>
      </setting>
      <setting name="Product" serializeAs="String">
        <value>DriverEasy</value>
      </setting>
      <setting name="RegisterUrl" serializeAs="String">
        <value>http://devsrv.easiware.org/Register.htm</value>
      </setting>
      <setting name="CHID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PDID" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AFFID" serializeAs="String">
        <value>kevin</value>
      </setting>
      <setting name="DriverCenterServer" serializeAs="String">
        <value>localhost:8080</value>
      </setting>
    </FuZhou.Properties.Settings>
  </applicationSettings>
</configuration>